<h4>Add account</h4>
<form action="/accounts" method="POST">
    <label for="name">
        Name: <input type="text" name="name" id="name"></input>
    </label><br>
    <label for="balance">
        Balance: <input type="text" name="balance" id="balance"></input>
    </label><br>
    <label for="due_date">
        Due Date: <input type="text" name="due_date" id="due_date"></input>
    </label><br>
    <label for="interest">
        Interest: <input type="text" name="interest" id="interest"></input>
    </label><br>

    <br>
    <br>
    <input type="submit" value="Save">
</form>